@import url(/assets/css/style_Home_header.css);

@import url(assets/css/style_home_partners.css);

:root {
    --DarkPink: #ba4270;
    --LinkWaterWhite: #fbfcfe;
    --SanJuanBlue: #36536b;
    --MirageBlue: #1b262f;
    --CharmPincActives: #da6d97;
    --LightSanJuanBlue: #6c8294;
}
