:root {
    --sanjuanblue: #36536b;
    --darkpink: #ba4270;
    --lightsan: #6c8294;
    --charmpink: #da6d97;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f0f4fc;
}
.home--header-mottotext{
    font-weight: 400;
}

.home--header-mobilcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--header-mobil {
    justify-content: center;
    top: 100px;
    margin-top: -10px;
    margin-bottom: -180px;
    /* margin-left: 70px; */
}

.home--header-motto {
    margin-top: 166px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--sanjuanblue);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.246px;
}

.home--header-buttons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home--header-emailinput {

    border-style: none;
    border-radius: 24px;
    width: 87.2%;
    height: 48px;

}
.home--header-emailinput::placeholder{
    font-family: "Public sans";
    font-weight: 700;
    color: #9ba7b3;

}
.home--header-emailinput:focus {
    outline: none;
}

.home--header-schedulebutton {
    border-style: none;
    border-radius: 24px;
    width: 87.2%;
    height: 58px;
    background-color: var(--darkpink);
    color: white;
    font-size: 15;
}

.home--header-schedulebutton:hover {
    background-color: var(--charmpink);

}

.home--header-contactus {
    margin-bottom: 79px;
    display: flex;
    justify-content: center;
    margin-left: 24px;
    font-family: "Public Sans";
    color: var(--lightsan);
}

.home--header-buttontext {
    font-size: 15px;
    font-weight: bold;

}
.home--header-link{
    text-decoration: none;
    color: var(--sanjuanblue);
    font-weight: bold;
}


@media only screen and (min-width: 768px) {
    .home--header-mottotext {
        text-align: center;
    }

    .home--header-motto {
        margin-left: 15%;
        width: 73.31%;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.369px;
        justify-content: flex-start;
    }
    .home--header-buttons {
        display: flex;
        flex-direction: row;
    }

    .home--header-schedulebutton {
        position: absolute;
        width: 173px;
        right: 26% ;
        left: 1%;
    }

    .home--header-emailinput {
        width:40%;
        position: relative;
        left: -1%;
    }

    .home--header-contactus {
        margin-bottom: 99px;
    }
}

@media only screen and (min-width:1440px) {
    /* .home--header-containerhead{
        margin-top: 200px;
        margin-bottom: 76px;
    } */
    .home--header-motto {
        width: 37.92;
        font-size: 37px;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 100px;
        inline-size: 37.91%;
        font-weight: 400;
        letter-spacing: -0.54px;
        margin-left: 7%;
        line-height: 72px;
    }
    .home--header-mottotext{
        text-align: left;
    }

    .home--header-mobilcont {
        margin-right: 5%;
        display: flex;
        justify-content: flex-end;
    }
    .home--header-mobil{
        justify-content: flex-end;

    }
    .home--header-buttons{
        margin-bottom: 0;
        justify-content: flex-start;
    }
    .home--header-schedulebutton{
        margin-left: 19%;
        width: 173px;

    }
    .home--header-emailinput{
        margin-left: 7%;
        width:445px ;
    }
    .home--header-contactus{
        display: flex;
        justify-content: flex-start;
        margin-left: 8%;
        margin-bottom: 151px;
    }
    /* .home--header-buttontext{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}