:root {
    --sanjuanblue: #36536b;
    --darkpink: #ba4270;
    --lightsan: #6c8294;
    --charmpink: #da6d97;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f0f4fc;
}

.mobilcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobil {
    justify-content: center;
    top: 100px;
    margin-top: 110px;
    margin-left: 70px;
}

.motto {
    margin-top: 166px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--sanjuanblue);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.246px;
}

.buttons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailthing {
    border-style: none;
    border-radius: 24px;
    width: 87.2%;
    height: 48px;

}
.emailthing:focus {
    outline: none;
}

.buttonthing {
    border-style: none;
    border-radius: 24px;
    width: 87.2%;
    height: 48px;
    background-color: var(--darkpink);
    color: white;
    font-size: 15;
}

.button:hover {
    background-color: var(--charmpink);

}

.contactus {
    margin-bottom: 79px;
    display: flex;
    justify-content: center;
    margin-left: 24px;
    font-family: "Public Sans";
    color: var(--lightsan);
}

.buttontext {
    font-size: 15px;
    font-weight: bold;

}
.link{
    text-decoration: none;
    color: var(--sanjuanblue);
    font-weight: bold;
}


@media only screen and (min-width: 376px) {
    .mottotext {
        text-align: center;
    }

    .motto {
        margin-left: 15%;
        width: 73.31%;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.369px;
        justify-content: flex-start;
    }
    .buttons {
        display: flex;
        flex-direction: row;
    }

    .buttonthing {
        position: absolute;
        width: 173px;
        right: 26% ;
    }

    .emailthing {
        width:40%;
        position: relative;
        left: -1%;
    }

    .contactus {
        margin-bottom: 99px;
    }
}

@media only screen and (min-width:1440px) {
    .containerhead{
        margin-top: 200px;
        margin-bottom: 76px;
    }
    .motto {
        width: 37.92;
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 15%;
        inline-size: 37.91%;
        font-weight: 400;
        letter-spacing: -0.554px;
        margin-left: 7%;
        line-height: 79px;
    }
    .mottotext{
        text-align: left;
    }

    .mobilcont {
        margin-right: 5%;
        display: flex;
        justify-content: flex-end;
    }
    .mobil{
        transform: scale(1.5);
    }
    .buttons{
        margin-bottom: 0;
        display: flex;
        justify-content: flex-start;
    }
    .buttonthing{
        position: relative;
        margin-left:19%;
        width: 173px;

    }
    .emailthing{
        margin-left: 7%;
        width:445px ;
    }
    .contactus{
        display: flex;
        justify-content: flex-start;
        margin-left: 8%;
        margin-bottom: 151px;
    }
    .buttontext{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}