.partner-button {
  color: var(--LinkWaterWhite);
  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.115px;
  text-decoration: none;
}
.partner-button:hover {
  color: var(--MirageBlue);
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    text-decoration: none;
}

@media (min-width: 1440px) {

  .partner-button {
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    display: inline-block;
    line-height: 46px;
    text-align: center;
    margin-top: 32px;
  }

  .partner-button:hover {
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    background-color: var(--LinkWaterWhite);
    display: inline-block;
    line-height: 46px;
    text-align: center;
    margin-top: 32px;
  }

  .partner-large {
    width: 35%;
    color: var(--LinkWaterWhite);
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    margin-bottom: 25px;
  }

  .partner-small {
    width: 35%;
    color: var(--LinkWaterWhite);
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
  }

  .home--partners-tesla {
    width: 129px;
    height: 17px;
    margin-top: 43px;
    margin-left: -30px;
  }

  .home--partners-oracle {
    width: 131px;
    height: 17px;
    margin-top: -15px;
    margin-left: -30px;
  }

  .home--partners-google {
    width: 96px;
    height: 33px;
    margin-left: 23px;
    margin-top: -23px;
  }

  .home--partners-microsoft {
    width: 145px;
    height: 31px;
    margin-top: 36px;
    margin-left: -2px;
  }

  .home--partners-hp {
    width: 140px;
    height: 27px;
    margin-left: -3px;
    margin-top: 38px;
  }

  .home--partners-nvidia {
    width: 137px;
    height: 26px;
    margin-top: -20px;
  }

  .text-partner-container {
    padding-top: 100px;
    margin-left: 165px;
  }
  .partner-container-grid {
    width: 35%;
    display: grid;
    gap: 62px;
    grid-template-columns: repeat(3, 1fr);
    float: right;
    margin-right: 163px;
    padding-top: 150px; 
  }

  .partners {
    min-height: 472px;
    background-color: var(--MirageBlue);
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .partner-button {
    font-weight: 700;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    margin: 0 auto;
    display: inline-block;
    line-height: 46px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 88px;
  }
  .partner-button:hover {
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    background-color: var(--LinkWaterWhite);
    display: inline-block;
    line-height: 46px;
    text-align: center;
    margin-top: 32px;
  }

  .partner-large {
    color: var(--LinkWaterWhite);
    text-align: center;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    margin-bottom: 24px;
  }

  .partner-small {
    color: var(--LinkWaterWhite);
    opacity: 0.7;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
  }

  .text-partner-container {
    text-align: center;
    margin-right: 155px;
    margin-left: 157px;
  }

  .partner-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 64px;
  }

  .home--partners-tesla {
    max-width: 129px;
    max-height: 17px;
    margin-left: 105px;
  }

  .home--partners-oracle {
    max-width: 131px;
    max-height: 17px;
    margin-bottom: -40px;
    margin-left: 106px;
  }

  .home--partners-google {
    max-width: 96px;
    max-height: 33px;
    margin-top: 40px;
    margin-left: -6px;
  }

  .home--partners-microsoft {
    max-width: 145px;
    max-height: 31px;
    margin-left: -9px;
  }

  .home--partners-hp {
    max-width: 140px;
    max-height: 27px;
    margin-right: 117px;
  }

  .home--partners-nvidia {
    max-width: 137px;
    max-height: 26px;
    margin-right: 117px;
    margin-bottom: -41px;
  }

  .partners {
    background-color: var(--MirageBlue);
    max-height: 768px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .partner-button {
    font-weight: 700;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    margin: 0 auto;
    display: inline-block;
    line-height: 46px;
    margin-top: 32.9px;
    margin-bottom: 80px;
  }
  .partner-button:hover {
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--LinkWaterWhite);
    background-color: var(--LinkWaterWhite);
    display: inline-block;
    line-height: 46px;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 80px;
  }

  .partner-large {
    color: var(--LinkWaterWhite);
    font-family: DM Serif Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 112.5% */
    letter-spacing: -0.246px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 56px;
  }

  .partner-small {
    color: var(--LinkWaterWhite);
    opacity: 0.7;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
  }

  .text-partner-container {
    text-align: center;
    margin: 32px 24px 32px 24px;
  }

  .partner-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 25px;
    padding-top: 70px;
  }

  .home--partners-tesla {
    max-width: 107px;
    min-height: 15px;
    margin-left: 27px;
    margin-top: 14px;
  }

  .home--partners-oracle {
    max-width: 108px;
    min-height: 14px;
    margin-right: 30px;
    margin-top: 22px;
  }

  .home--partners-google {
    max-width: 79px;
    min-height: 27px;
    margin-left: 12px;
    margin-top: 20.7px;
  }

  .home--partners-microsoft {
    max-width: 120px;
    min-height: 26px;
    margin-right: 43px;
    margin-bottom: -14px;
  }

  .home--partners-hp {
    max-width: 115px;
    min-height: 22px;
    margin-left: 33px;
    margin-bottom: -25px;
  }

  .home--partners-nvidia {
    max-width: 113px;
    min-height: 22px;
    margin-right: 50px;
    margin-bottom: -20px;
  }

  .partners {
    background-color: var(--MirageBlue);
    max-height: 670px;
  }
}