@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    margin: 0 auto;
    background-color: var(--LinkWaterWhite);
}
 
.home-cards-image {
    display: inline;
    padding: 0;
}
 
.home-cards-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
}
 
.home-cards-cont_1 {
    margin-top: 44px;
    display: inline-block;
    justify-content: space-around;
}
 
.home-cards-cont_2 {
    margin-top: 41px;
    display: inline-block;
    justify-content: space-around;
}
 
.home-cards-cont_3 {
    margin-top: 41px;
    display: inline-block;
    justify-content: space-around;
}
 
.home-cont_partA {
    margin-top: 29px;
    color: var(--SanJuanBlue);
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    letter-spacing: -0.138px;
    flex-shrink: 0;
}
 
.home-cont_partB {
    margin-top: 17px;
    width: 328px;
    height: 100px;
    text-align: center;
    align-items: baseline;
    color: var(--LightSanJuanBlue);
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.115px;
    flex-shrink: 0;
}
/* Tablet */
@media screen and (min-width:768px) {
    .home-cards-main {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 100px;
        margin-left: 14px;
    }
    .home-cards-image {
        width: 88px;
        height: 88px;
    }
 
    .home-cont_partB {
        margin-top: 16px;
        width: 223px;
        height: 125px;
    }  
 
    .home-cards-cont_1 {
        min-width: 223px;
        margin-top: 100px;
    }
    .home-cards-cont_2 {
        min-width: 223px;
        margin-top: 100px;
    }
    .home-cards-cont_3 {
        min-width: 223px;
        margin-top: 100px;
    }
}
/* Desktop */
@media screen and (min-width:1440px) {
 
    .home-cards-main {
        margin-top: 145px;
        margin-bottom: 96px;
        gap:30px;
    }
    .home-cards-image {
        width: 106px;
        height: 106px;
    }
    .home-cards-imgDesk{
        margin-right:9px;
    }
    .home-cont_partB {
        width: 350px;
        height: 100px;
    }  
 
 
}