:root {
    --sanjuanblue: #36536b;
    --darkpink: #ba4270;
    --lightsan: #6c8294;
    --charmpink: #da6d97;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f0f4fc;
}

.home--header-mottotext {
    font-weight: 400;
}

.home--header-mobilcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--header-mobil {
    /* transform: scale(0.538); */
    justify-content: center;
    margin-top: -83px;
    margin-bottom: -20px;
    margin-left: 23px;
    width:200px; 
    height: 320px;
    display: block;
}

.home--header-motto {
    margin-top: -10px;
    margin-left: 25px;
    margin-right: 24px;
    color: var(--sanjuanblue);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.250px;
    word-wrap: break-word;
}

.home--header-buttons {
    margin-left: -1px;
    margin-top: 23px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home--header-emailinput {
    margin-bottom: 1px;
    padding-left: 27px;
    border-style: none;
    border-radius: 24px;
    width: 327px;
    height: 48px;

}

.home--header-emailinput::placeholder {
    letter-spacing: 1.01px;
    font-size: 13.5px;
    font-family: "Public sans";
    font-weight: 700;
    color: #9ba7b3;

}

.home--header-emailinput:focus {
    outline: none;
}

.home--header-schedulebutton {
    border-style: none;
    border-radius: 24px;
    width: 327px;
    height: 48px;
    background-color: var(--darkpink);
    color: white;
    font-size: 15px;
    margin-top: -3px;
}

.home--header-schedulebutton:hover {
    background-color: var(--charmpink);

}

.home--header-contactus {
    font-size: 15px;
    margin-left:-5px;
    margin-top: -2px;
    margin-bottom: 78px;
    display: flex;
    justify-content: center;
    font-family: "Public Sans";
    color: var(--lightsan);
    letter-spacing: 0.1px;
}

.home--header-buttontext {
    font-family: "Public Sans";
    margin-left: 4px;
    font-size: 15px;
}

.home--header-link {
    text-decoration: none;
    color: var(--lightsan);
    font-weight: bold;
}


@media only screen and (min-width: 768px) {
    .home--header-mobil {
        margin-left: 30px;
        margin-top: -100px;
        width: 250px;
        height: 390px;
        /* transform: scale(0.6); */
    }

    .home--header-mottotext {
        text-align: center;
    }

    .home--header-motto {
        margin-top: 8px;
        margin-left: 13.3%;
        width: 73.31%;
        font-size: 24.1px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.5px;
        justify-content: flex-start;
        justify-content: center;
        align-items: center;
    }

    .home--header-buttons {
        margin-left: -19px;
        margin-top: 34px;
        display: flex;
        flex-direction: row;
    }

    .home--header-schedulebutton {
        position: absolute;
        width: 173px;
        margin-left: 55.5%;
        left: 1%;
    }

    .home--header-emailinput {
        width: 430px;
        position: relative;
        left: 0.3%;
    }

    /* .home--header-contactus {
        margin-left:-1px;
        margin-top: -5px;
        margin-bottom: 97px;
    } */

    .home--header-emailinput::placeholder {
        letter-spacing: 0.9px;
        padding-left: 1px;
    }

    .home--header-contactus {
        margin-top: -12px;
        margin-left:-1px;
        letter-spacing: 0.08px;
        margin-bottom: 100px;
    }
    .home--header-buttontext{
        margin-left: 2px;
    }
}

@media only screen and (min-width:1440px) {
    .home--header-containerhead {
        margin-top: 60px;
        margin-bottom: 76px;
    }

    .home--header-motto {
        position: static;
        width: 37.92px;
        font-size: 36px;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 100px;
        inline-size: 37.91%;
        font-weight: 400;
        letter-spacing: -0.54px;
        margin-left: 165px;
        margin-top: 140px;
        line-height: 72px;
    }

    .home--header-mottotext {
        text-align: left;
    }

    .home--header-mobilcont {
        margin-top: -74px;
        margin-right: 157px;
        justify-content: flex-end;
    }

    .home--header-mobil {
    height: 660px;
    width: 420px;
    z-index: 2;
    }

    .home--header-buttons {
        margin-left: 68px;
        margin-top: -242px;
        justify-content: flex-start;
    }

    .home--header-schedulebutton {
        margin-top: -1px;
        margin-left: 423px;
        width: 173px;
    }

    .home--header-emailinput {
        margin-left: 93px;
        width: 445px;
    }

    .home--header-contactus {
        display: flex;
        justify-content: flex-start;
        margin-left: 192px;
        margin-bottom: 153px;
        letter-spacing: 0.04px;
    }
    .home--header-buttontext{
        margin-top: 1px;
        margin-left: 2px;
        letter-spacing: 0.2px;
    }
}