:root {
    --DarkPink: #ba4270;
    --LinkWaterWhite: #fbfcfe;
    --SanJuanBlue: #36536b;
    --MirageBlue: #1b262f;
    --CharmPincActives: #da6d97;
    --LightSanJuanBlue: #6c8294;

}

p{
    background-color: #6c8294;
    color: #da6d97;
}